id ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Earl of March Computer Club"
      VALUE "FileDescription", "QBet conference file builder"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "qbet-builder"
      VALUE "LegalCopyright", "Ian Dewan"
      VALUE "OriginalFilename", "qbet-builder.exe"
      VALUE "ProductName", "QBet Builder"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
